<h2>Name: <%= @character.name %></h2>
<p>Debut: <%= @character.debut %></p>
<p>Age: <%= @character.age %></p>
<img src=<%= @character.image %> alt=<%= @character.name %>>
<br>
<a href="/<%= @character.id %>/edit">Edit</a>
<a href="/<%= @character.id %>/delete">Delete</a>
