<!DOCTYPE html>
<html>
  <head>
    <title>TuesdayHw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <h1>Disney Characters</h1>
  <nav>
    <a href="/">Index</a>
    <a href="/new">New Character</a>
    <hr>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
