<h2>Edit Dog: <%= @dog.name %></h2>
<!-- action URL must be "/dogs/:id" - we'll share the show page helper dog_path(id) -->
<form action="<%= dog_path( @dog.id ) %>" method="post">

  <label>
    Name:
    <input type="text" name="name" value="<%= @dog.name %>">
  </label>
  <br>

  <label>
    Breed:
    <input type="text" name="breed" value="<%=  @dog.breed %>">
  </label>
  <br>

  <label>
    Age:
    <input type="text" name="age" value="<%=  @dog.age %>">
  </label>
  <br>

  <label>
    Description:
    <input type="text" name="description" value="<%=  @dog.description %>">
  </label>
  <br>

  <label>
    Image:
    <input type="text" name="image" value="<%=  @dog.image %>">
  </label>
  <br>

  <button>Update Dog</button>
</form>
