<p>
  <img width="100" height="130" url="<%= @movieimage %>"  alt="">
</p>
<p class="title">
  The movie <%= @movietitle %> was released on <%= @movierelease %>
</p>
<p class="overview">
  The overview of <%= @movietitle %> is <%= @movieoverview %>
</p>
