<img id="poster" src=<%="https://image.tmdb.org/t/p/w1280#{@result['poster_path']}"%>>
<h2><%= @result['title'] %></h2>
<p><%= "Budget: #{@result['budget']}" %></p>
<p><%= "Language: #{@result['original_language']}" %></p>
<p><%= "Overview: #{@result['overview']}" %></p>